<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="mainLogger" />
    </root>

    <logger name="buyingLogger">
      <level value="INFO"></level>
      <appender-ref ref="RollingFileAppender"/>
    </logger>
    
    <logger name="pilotLogger">
      <level value="INFO"></level>
      <appender-ref ref="RollingFileAppender"/>
    </logger>

    <logger name="cancelLogger">
      <level value="INFO"></level>
      <appender-ref ref="RollingFileAppender"/>
    </logger>

    <logger name="sellingLogger">
      <level value="INFO"></level>
      <appender-ref ref="RollingFileAppender"/>
    </logger>


    <appender name="buyingLogger" type="log4net.Appender.RollingFileAppender">
      <file value="buyingLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="sellingLogger" type="log4net.Appender.RollingFileAppender">
      <file value="sellingLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>

    <appender name="cancelLogger" type="log4net.Appender.RollingFileAppender">
      <file value="cancelLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="mainLog" type="log4net.Appender.RollingFileAppender">
      <file value="mainLog.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="20MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>