<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LogicLayer.Properties.Settings.DataSourceConnectionString"
      connectionString="Data Source=ise172.ise.bgu.ac.il;Persist Security Info=True;User ID=labuser;Password=wonsawheightfly"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>